:root {
    --primary-color: #007bff;
    --segundary-color: #6c757d;
    --success-color: #28a745;
    --background-color: #f8f9fa;
    --card-color: #ffffff;
    --text-color: #333;
    --border-color: #ddd;
    --shadow-color: #rgba(0, 0, 0, 0.1);
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
    color: var(--text-color-color);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    max-width: 600px;
    width: 90%;
    background-color: var(--card-color);
    padding: 2.5em;
    border-radius: 10px;
    box-shadow: 0, 4px, 15px, var(--shadow-color);
}

header {
    text-align: center;
    margin-bottom: 2em;
}

h1 {
    color: var(#333);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    color: var(--primary-color);
    font-size: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: 700;
    color: var(--text-color);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.75em;
    border-radius: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3;
}

input:focus,
textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 12, 225, 0.25);
}

.helper-text {
    font-size: 0.8em;
    color: var(--segundary-color);
    margin-top: 0.25rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.checkbox-item input [type="checkbox"] {
    margin-right: 0.5em;
}

button [type= "submit"] {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:active {
    transform: translateY(2px);
}

#status-menssage {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1em;
    border-radius: 5px;
    font-weight: 700;
    display: none;
}

.success {
    background-color: #d4edda;
    color: var(--success-color);
}
